@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="navbar navbar-inverse navbar-fixed-top navigation">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <div class="navigation-title">LANKOMUMO ŽYMĖJIMO INFORMACINĖ SISTEMA</div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Request.IsAuthenticated && User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("Lankomumas", "Attendance", "Student")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Paskaitos <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Paskaitos šiandien", "TodaysLectures", "Student")</li>
                                    <li>@Html.ActionLink("Artimiausios paskaitos", "FutureLectures", "Student")</li>
                                    <li>@Html.ActionLink("Praėjusios paskaitos", "PastLectures", "Student")</li>
                                </ul>
                            </li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Lecturer"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Paskaitos <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Paskaitos šiandien", "TodaysLectures", "Lecturer")</li>
                                    <li>@Html.ActionLink("Artimiausios paskaitos", "FutureLectures", "Lecturer")</li>
                                    <li>@Html.ActionLink("Praėjusios paskaitos", "PastLectures", "Lecturer")</li>
                                </ul>
                            </li>
                        }
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Atsijungti</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
}